@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}
* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}
@font-face {
  font-family: 'Bell';
  src: url('/fonts/Bellefair-Regular.ttf');
}
@font-face {
  font-family: 'Parkinsans';
  src: url("/fonts/Parkinsans.tff");
}
@font-face {
  font-family: 'Shubbak';
  src: url("/fonts/Shubbak.ttf");
}

.heroimg {
  display: flex;
  justify-content: center; /* Horizontally centers the text */
  align-items: center; /* Vertically centers the text */
  position: relative; /* Establish a positioning context for absolute children */
  height: max-content; /* Full viewport height */
  width: 100vw;
}
.hero-text{
  position: absolute; /* Places text over the image */
  text-align: center;
}
